GENAI_URL=Your GENAI endpoint
GENAI_PROJECT_ID=Your GENAI project id
GENAI_MODEL=Your GENAI model
API_KEY=Your api key
TTS_URL=TTS endpoint for single thread instance
TTS_PLAYER_PROFILE_URL=TTS endpoint for for multi thread instance
COMMENTARY_START_DELAY=Delay to start commentary - will default to 10 if not specified 
TTS_VOICE= (OPTIONAL) Voice to use for TTS - will default to en-US_EmmaExpressive
TTS_CUSTOMIZATION_ID=Customization ID for TTS 
